# Varioable
variable used for

In [1]:
number=100 # value 100 stored in a variable name called "number"
number

100

In [2]:
number=200 #value 200 stored in a variable name called number
number

200

**Note**

- python is step by step process

- python will take last output as the latest value

- in above code we are using same variable : number 

- but number value chaged two times

- first time 100

- second time 200

- latest value 200

In [3]:
NUMBER=200
NUMBER

200

In [4]:
number, NUMBER

(200, 200)

In [5]:
NUMber=300
NUMber

300

In [6]:
number123=400
number123

400

In [7]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [8]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [9]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [10]:
number_one=300
number_one

300

In [11]:
_=1000
_

1000

In [12]:
n1=100,200
n1

(100, 200)

In [13]:
n2,n3=200
n2,n3

TypeError: cannot unpack non-iterable int object

In [15]:
n4,n5=100,200
n4,n5
print(n4)
print(n5)

100
200

In [ ]:
number=200
NUMBER=300
NUMber=400
number123=500
123number=600

num%er=700
number one= 800
number_one=900
_1000
n1

In [ ]:
if
while
else

In [ ]:
- Python variable are case sensitive

- variables can be declare as capital letters

- variables can be declare s small letters                                                                                                                                                                                       

-  variables can not start with Numbers ( pprefix)

-  Numbers can be suffix of the variables

- Variables can not have specail characters except **underscore**

- Variables does not have space between them

- only underscore is possible

- keywords or reserved words can not use as variable

- two values can assign to single variable

- one value can not assign to two variable

In [3]:
number=100
Number=200
NUMBER=300
NUMBER,number,Number

(300, 100, 200)