In [1]:
print(10)

10

In [2]:
print('python')

python

In [4]:
print(10,20,30)

'10' 20 30

In [4]:
print(10,10.5,'Naresh IT', True)

10 10.5 Naresh IT True

In [5]:
n1=10
n2=10
print(n1,n2)

10 10

In [6]:
print(10), print(20)

10
20

(None, None)

In [ ]:
#dont write(multiple) number of print horizontaly print(10), print(20)

**Format method**

In [8]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [11]:
a='My name is Ajit'
b='my age is 30'
c='live in solapur'
print("{} . {} and {}".format(a,b,c))

My name is Ajit . my age is 30 and live in solapur

In [13]:
name='Python'
age=10
city='hyd'
print("my name is {}, im {} years old and Im form {}".format(name,age,city))

my name is Python, im 10 years old and Im form hyd

In [14]:
name='Sapana'
age='of brain is of child and body of 30 years old'
city='lives in own imaganery world'
print("My name is{}.My age {} .I {}".format(name,age, city))

My name isSapana.My age of brain is of child and body of 30 years old .I lives in own imaganery world

In [12]:
name='Python'
age=10
city='hyd'
print("my name is{}, im {} years old and Im form {}".format(name,age,city))

my name isPython, im 10 years old and Im form hyd

In [14]:
name='ajit'
role='data scientist'
company='google'
print("my name is{}, I want to become {} in {}".format(name,role,company))

my name isajit, I want to become data scientist in google

**f (function) string method**

In [15]:
a=100
b=200
c=a+b
print(f"the additon of {a} and {b} is {c}")

the additon of 100 and 200 is 300

In [18]:
name='Python'
age=10
city='hyd'
print(f"my name is{name}, im {age} years old and Im form {city}")

my name isPython, im 10 years old and Im form hyd

In [15]:
name='Ajit'
age=30
state='maharashtra'

print(f"My Name is {name}")
print(f"My age is {30}")
print(f"I live in {state}")

My Name is Ajit
My age is 30
I live in maharashtra

In [20]:
name='Ajit'
age=30
state='maharashtra'
print("My Name is {}, my name age {} and I live in {}".format(name,age,state))

My Name is Ajit, my name age 30 and I live in maharashtra

In [2]:
a=100
b=200
average=(a+b)/2
print(f"avarage of {a} and {b} is {average}")

avarage of 100 and 200 is 150.0

In [3]:
a=100
b=200
average=(a+b)/2
print("avarage of {} and {} is {}".format(a,b,average))

avarage of 100 and 200 is 150.0

In [7]:
r=21
pi=3.14
area=pi*r*r
print(f"if the radius is {r} and pie value is {pi} then area of circl {area}")

if the radius is 21 and pie value is 3.14 then area of circl 1384.74

In [8]:
r=21
pi=3.14
area=pi*r*r
print(f"the are of cirle is :{area}")

the are of cirle is :1384.74

In [11]:
r=21
pi=3.14
area=pi*r*r
print("the are of cirle is :{}".format(area))

the are of cirle is :1384.74

In [12]:
b=10
h=8
area=0.5*b*h
print(f"Area of Triangle is : {area}")

Area of Triangle is : 40.0

In [15]:
bill=1000
tip=(10/100)*1000
total=bill+tip
print(f"total bill is {total}")

total bill is 1100.0

In [36]:
bill=1000
tip_percentage=10
tip=(tip_percentage/100)*bill
total=bill+tip
print(f"total bill is {total}")

total bill is 1100.0

In [23]:
print(10)
print(20)

10
20

**end operator**

  - to print statement horizontally
  - multiple print statements in single line

In [25]:
print(10,end=' ')
print(20)

10 20

In [27]:
print(10,end='     ')
print(20)

10     20

In [28]:
print(10,end='&')
print(20)

10&20

In [31]:
print(10,end='  ')
print(20,end='  ')
print(30)

10  20  30

In [ ]:
$sep$
separate the multiple values in single print statement

In [33]:
print(10,20,30,sep='&')

10&20&30

In [34]:
print(10,20,30,sep='--->')

10--->20--->30

In [35]:
print(f"the additon of {5} adn {3} id {5+3}.")

the additon of 5 adn 3 id 8.

In [ ]:
print("the additon of {} and {} is {}".format(5