In [ ]:
**Loops**

In [1]:
a=20
b=20
c=a+b
print(c)

40

In [2]:
if True :
    a=30
    b=20
    c=a+b
    print(c)

50

In [3]:
def add():
    a=50
    b=30
    c=a+b
    print(c)
add()

80

In [ ]:
def tax():
salary=eval(input("Enter the salary:"))
tax_per=eval(input("Enter the tax_per:"))
tax_amount=salary*tax_per
print(tax_amount)

tax()

- For loop

- While loop

- any loop

    - Intial point

    - Increament or decrement

    - condition to stop the loop

**For loop**

  $Pattern-1$

**range(stop)**

In [ ]:
#syntax
for i in range(<value>):
    # start write your code

- When ever you see the word range it belongs to math family

- inside range you we need to provide one value ex: range(3)

- If you provide only one value

    - then strat value=0

    - increment = +1

    - last = stop-1

    - range (3)

    - start value=0

    - last=3-1=2

    - answers are : 0 1 2

In [4]:
for i in range(3):
    print(i)

0
1
2

In [5]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [6]:
for i in range(3):
    import random
    num=random.randint(1,100)
    if num%2==0:
        print(f"{num} is even number")
    else:
        print(f"{num} is odd number")

12 is even number
33 is odd number
24 is even number

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

$Pattern-2$

**range(start,stop)**

    - start value=10

    - increment=1

    - last= stop-1

    - ans: 10,11,12......19


-

In [9]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [10]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [13]:
for i in range(20,26):
    print(i*i,end=" ")

400 441 484 529 576 625

In [14]:
for i in range(10,21):
    if i%2==0:
        print(f"Number {i} is even")
    else:
        print(f"Number {i} is odd")

Number 10 is even
Number 11 is odd
Number 12 is even
Number 13 is odd
Number 14 is even
Number 15 is odd
Number 16 is even
Number 17 is odd
Number 18 is even
Number 19 is odd
Number 20 is even

In [16]:
for i in range(1,101):
    if i%10==0:
        print(i)

10
20
30
40
50
60
70
80
90
100

$Pattern-3$

**range(start,stop,step)**

- start value= start value

- step value

    - Positive step value
        
        - if step value is positive: increment

        - last = stop-1
    
    - Negative step value

        - if step value is negative: decrement

        - last= stop+1

In [18]:
#Case 1- Positive step
for i in range(2,20,2):
    print(i,end=' ')

# start=2
# step= +ve 2
#last= stop-1 = 20-1=19
# 2 4 6 8 10 12 14 16 18

2 4 6 8 10 12 14 16 18

In [19]:
#Case 2- Negative step
for i in range(2,20,-2):
    print(i,end=' ')
#Start= 2
#step= -2 negative direction
#last= stop+1=20+1=21
# no error , no ans because stpe in negative directin and range in positive direction

In [20]:
#case-
for i in range(2,-20,-2):
    print(i,end=' ')

2 0 -2 -4 -6 -8 -10 -12 -14 -16 -18

In [21]:
#case-3
for i in range(20,2,-2):
    print(i,end=' ')
# start=20
# step= -2 negative
# last= stop=+1 2+1
# 20 18 16 14 12 10 8 6 4

20 18 16 14 12 10 8 6 4

In [22]:
for i in range(-20,2,2):
    print(i,end=' ')

-20 -18 -16 -14 -12 -10 -8 -6 -4 -2 0

In [ ]:
for i in range(3):
    import random
    num=random.randint(1,100)
    if num%2==0:
        print(f"{num} is even number")
    else:
        print(f"{num} is odd number")

In [ ]:
for i in range(10,21):
    if i%2==0:
        print(f"Number {i} is even")
    else:
        print(f"Number {i} is odd")

In [4]:
for i in range(3):
    num=eval(input("Enter the number:"))
    square=num*num
    print(f"Square of {num} is {square}")

Enter the number: 15

Square of 15 is 225

Enter the number: 16

Square of 16 is 256

Enter the number: 17

Square of 17 is 289

In [8]:
#5Q Print the 14th table
num=eval(input("Enter the table which you want to see:"))
for i in range(1,11):
    value=i*num
    print(f"{num} x {i} = {value}")

Enter the table which you want to see: 14

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [15]:
#6Q
num=eval(input("Enter the number of which you want factors:"))
for i in range(1,num+1):
    if num%i==0:
        print(i)

Enter the number of which you want factors: 75

1
3
5
15
25
75

In [20]:
#Q7
summ=0
for i in range(1,11):
    summ=summ+i
    print(f"{summ}+{i}={summ}")

1+1=1
3+2=3
6+3=6
10+4=10
15+5=15
21+6=21
28+7=28
36+8=36
45+9=45
55+10=55

In [ ]:
**summation wrapper**

- Initailly we need to keep sum=0

- make sure that do not provide**sum**

- because sum is keyword

= Inside for loop : summ=summ+i

In [22]:
summ=0
for i in range(1,11):
    summ=summ+i
    print(f"{summ-i}+{i}={summ}")

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55

In [23]:
summ=0
for i in range(1,11):
    val=summ
    summ=summ+i
    print(f"{val}+{i}={summ}")

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55

In [24]:
for i in range(3):
    print(i)
i

0
1
2

2

In [27]:
summ=0
for i in range(1,11):
    val=summ
    summ=summ+i
    print(f"{val}+{i}={summ}")
summ

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55

55

**Note**
  
- If we print answer from out for loop, last answer will print

In [31]:
summ=0
N=eval(input("Enter the number:"))
for i in range(1,N+1):
    val=summ
    summ=summ+i
print(summ/N)

Enter the number: 10

5.5

In [ ]:
**Counter program**

- Before for loop intialaise with count=0

- Under for loop count=count+1

- counter always increase by 1 only

In [33]:
count=0
num=eval(input("Enter the number of which you want factors:"))
for i in range(1,num+1):
    if num%i==0:
        count=count+1
print(f"Then number of divisor for {num} is {count}")

Enter the number of which you want factors: 75

Then number of divisor for 75 is 6

In [ ]:
summ=summ+i =====> sum+1=i
count=count+i =======> count+=i

In [40]:
#Q10
import random
for i in range(3):
    num1=random.randint(1,10)
    num2=eval(input("Enter the number2:"))
    if num1==num2:
        print("You won")
    else:
        print("You fail")

Enter the number2: 12

You fail

Enter the number2: 10

You fail

Enter the number2: 5

You fail

In [45]:
#Break
import random
for i in range(5):
    num1=random.randint(1,10)
    num2=eval(input("Enter the number between 1 to 10:"))
    if num1==num2:
        print(f"Random number is {num1}")
        print("You won")
        break
    else:
        print(f"Random number is {num1}")
        print("You fail")

Enter the number between 1 to 10: 5

Random number is 6
You fail

Enter the number between 1 to 10: 4

Random number is 10
You fail

Enter the number between 1 to 10: 5

Random number is 3
You fail

Enter the number between 1 to 10: 6

Random number is 6
You won

In [ ]:
#case3
#suppose i want to give 4 chances
#every time you fail I want to display Number of chaces left
#Number of chances of left

#if all the chances you are used
# Try again after 24 hours

# If you are win

In [1]:
import random
even_count,odd_count=0,0
even_sum,odd_sum=0,0
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        even_count=even_count+1
        even_sum=even_sum+num
    else:
        odd_count=odd_count+1
        odd_sum=odd_sum+num
print(f"The total number of even numbers are :{even_count}")
print(f"The total number of odd numbers are :{odd_count}")
print(f"The sum of all  even numbers is :{even_sum}")
print(f"The sum of all  odd numbers is :{even_count}")

The total number of even numbers are :1
The total number of odd numbers are :4
The sum of all  even numbers is :32
The sum of all  odd numbers is :1

In [ ]:
import random
def even_odd1():
    even_count,odd_count=0,0
    even_sum,odd_sum=0,0
    for i in range(5):
        num=random.randint(1,100)
        if num%2==0:
            even_count=even_count+1
            even_sum=even_sum+num
        else:
            odd_count=odd_count+1
            odd_sum=odd_sum+num
print(f"The total number of even numbers are :{even_count}")
print(f"The total number of odd numbers are :{odd_count}")
print(f"The sum of all  even numbers is :{even_sum}")
print(f"The sum of all  odd numbers is :{even_count}")

**in operator**

In [3]:
string1='python'
'p' in string1

True

In [4]:
string1='python'
'y' in string1

True

In [5]:
for i in string1:
    print(i)

p
y
t
h
o
n

In [7]:
for i in range(string1):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

**differance betweeen in and range operator**

- Range belongs to math family

- Inside range we need to keep numbers only

- Whenever if we want iterate through a english letters

- Wen need to choose $in$ operator

- range means Numbers

- in means string

In [8]:
'p'>'P'

True

In [ ]:
- Every english letter

- Every special character how machine will understand

- Machine language always consider as numbers

- Every non numeric assign a number

- ASCII: Americal Standard code for Information Interchange

- A=65, a=97

**ord-chr**

In [ ]:
A====65====0b1000001

In [9]:
ord('A')

65

In [10]:
ord('a')

97

In [11]:
ord('p'),ord('P')

(112, 80)

In [13]:
chr(112)

'p'

In [14]:
chr(65)

'A'

In [15]:
chr(100)

'd'

In [17]:
# I want string1 : 'python'
# print all ascii number for 'python'
for i in 'python':
    print(f"The ASCII number for {i} is {ord(i)}")

The ASCII number for p is 112
The ASCII number for y is 121
The ASCII number for t is 116
The ASCII number for h is 104
The ASCII number for o is 111
The ASCII number for n is 110

In [22]:
summ=0
for i in 'python':
    print(f"The ASCII number for {i} is {ord(i)}")
    summ=summ+ord(i)
print(f"Summation is {summ}")

The ASCII number for p is 112
The ASCII number for y is 121
The ASCII number for t is 116
The ASCII number for h is 104
The ASCII number for o is 111
The ASCII number for n is 110
Summation is 674

In [23]:
# i want to know all ascii numbers from A to Z
for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print(f"The ASCII number for {i} is {ord(i)}")

The ASCII number for A is 65
The ASCII number for B is 66
The ASCII number for C is 67
The ASCII number for D is 68
The ASCII number for E is 69
The ASCII number for F is 70
The ASCII number for G is 71
The ASCII number for H is 72
The ASCII number for I is 73
The ASCII number for J is 74
The ASCII number for K is 75
The ASCII number for L is 76
The ASCII number for M is 77
The ASCII number for N is 78
The ASCII number for O is 79
The ASCII number for P is 80
The ASCII number for Q is 81
The ASCII number for R is 82
The ASCII number for S is 83
The ASCII number for T is 84
The ASCII number for U is 85
The ASCII number for V is 86
The ASCII number for W is 87
The ASCII number for X is 88
The ASCII number for Y is 89
The ASCII number for Z is 90

In [ ]:
#package called: string
# import the pacakage
#apply the dir
# threr are some method are therer
# in hta one method will capital letter

In [24]:
import string

In [25]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [27]:
help (string.capwords)

Help on function capwords in module string:

capwords(s, sep=None)
    capwords(s [,sep]) -> string

    Split the argument into words using split, capitalize each
    word using capitalize, and join the capitalized words using
    join.  If the optional second argument sep is absent or None,
    runs of whitespace characters are replaced by a single space
    and leading and trailing whitespace are removed, otherwise
    sep is used to split and join the words.

In [28]:
string.capwords()

NameError: name 'a' is not defined

In [29]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [30]:
for i in string.ascii_uppercase:
    print(f"The ASCII number for {i} is {ord(i)}")

The ASCII number for A is 65
The ASCII number for B is 66
The ASCII number for C is 67
The ASCII number for D is 68
The ASCII number for E is 69
The ASCII number for F is 70
The ASCII number for G is 71
The ASCII number for H is 72
The ASCII number for I is 73
The ASCII number for J is 74
The ASCII number for K is 75
The ASCII number for L is 76
The ASCII number for M is 77
The ASCII number for N is 78
The ASCII number for O is 79
The ASCII number for P is 80
The ASCII number for Q is 81
The ASCII number for R is 82
The ASCII number for S is 83
The ASCII number for T is 84
The ASCII number for U is 85
The ASCII number for V is 86
The ASCII number for W is 87
The ASCII number for X is 88
The ASCII number for Y is 89
The ASCII number for Z is 90

In [32]:
for i in string.ascii_lowercase:
    print(f"The ASCII number for {i} is {ord(i)}")

The ASCII number for a is 97
The ASCII number for b is 98
The ASCII number for c is 99
The ASCII number for d is 100
The ASCII number for e is 101
The ASCII number for f is 102
The ASCII number for g is 103
The ASCII number for h is 104
The ASCII number for i is 105
The ASCII number for j is 106
The ASCII number for k is 107
The ASCII number for l is 108
The ASCII number for m is 109
The ASCII number for n is 110
The ASCII number for o is 111
The ASCII number for p is 112
The ASCII number for q is 113
The ASCII number for r is 114
The ASCII number for s is 115
The ASCII number for t is 116
The ASCII number for u is 117
The ASCII number for v is 118
The ASCII number for w is 119
The ASCII number for x is 120
The ASCII number for y is 121
The ASCII number for z is 122

In [37]:
summ=0
for i in string.ascii_uppercase:
    print(f"The ASCII number for {i} is {ord(i)}")
    summ=summ+ord(i)
print(f"summation is {summ}")

The ASCII number for A is 65
The ASCII number for B is 66
The ASCII number for C is 67
The ASCII number for D is 68
The ASCII number for E is 69
The ASCII number for F is 70
The ASCII number for G is 71
The ASCII number for H is 72
The ASCII number for I is 73
The ASCII number for J is 74
The ASCII number for K is 75
The ASCII number for L is 76
The ASCII number for M is 77
The ASCII number for N is 78
The ASCII number for O is 79
The ASCII number for P is 80
The ASCII number for Q is 81
The ASCII number for R is 82
The ASCII number for S is 83
The ASCII number for T is 84
The ASCII number for U is 85
The ASCII number for V is 86
The ASCII number for W is 87
The ASCII number for X is 88
The ASCII number for Y is 89
The ASCII number for Z is 90
summation is 2015

In [38]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [40]:
for i in string.punctuation:
    print(f"The ASCII number for {i} is {ord(i)}")

The ASCII number for ! is 33
The ASCII number for " is 34
The ASCII number for # is 35
The ASCII number for $ is 36
The ASCII number for % is 37
The ASCII number for & is 38
The ASCII number for ' is 39
The ASCII number for ( is 40
The ASCII number for ) is 41
The ASCII number for * is 42
The ASCII number for + is 43
The ASCII number for , is 44
The ASCII number for - is 45
The ASCII number for . is 46
The ASCII number for / is 47
The ASCII number for : is 58
The ASCII number for ; is 59
The ASCII number for < is 60
The ASCII number for = is 61
The ASCII number for > is 62
The ASCII number for ? is 63
The ASCII number for @ is 64
The ASCII number for [ is 91
The ASCII number for \ is 92
The ASCII number for ] is 93
The ASCII number for ^ is 94
The ASCII number for _ is 95
The ASCII number for ` is 96
The ASCII number for { is 123
The ASCII number for | is 124
The ASCII number for } is 125
The ASCII number for ~ is 126

In [42]:
for i in range(33,126):
    print(i,chr(i),end='==>')

33 !==>34 "==>35 #==>36 $==>37 %==>38 &==>39 '==>40 (==>41 )==>42 *==>43 +==>44 ,==>45 -==>46 .==>47 /==>48 0==>49 1==>50 2==>51 3==>52 4==>53 5==>54 6==>55 7==>56 8==>57 9==>58 :==>59 ;==>60 <==>61 ===>62 >==>63 ?==>64 @==>65 A==>66 B==>67 C==>68 D==>69 E==>70 F==>71 G==>72 H==>73 I==>74 J==>75 K==>76 L==>77 M==>78 N==>79 O==>80 P==>81 Q==>82 R==>83 S==>84 T==>85 U==>86 V==>87 W==>88 X==>89 Y==>90 Z==>91 [==>92 \==>93 ]==>94 ^==>95 _==>96 `==>97 a==>98 b==>99 c==>100 d==>101 e==>102 f==>103 g==>104 h==>105 i==>106 j==>107 k==>108 l==>109 m==>110 n==>111 o==>112 p==>113 q==>114 r==>115 s==>116 t==>117 u==>118 v==>119 w==>120 x==>121 y==>122 z==>123 {==>124 |==>125 }==>

In [ ]:
for i in range(900,1000):