In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
l1=['hyd', 'mumbai', 'chennai', 'blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())
upper_list
l2=[i.upper() for i in l1]
l2

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [3]:
#Q1 What is output = i.upper()
#Q2 what is output list name =upper_list
#q3 what is the for loop? for i in l1
l1=['hyd', 'mumbai', 'chennai', 'blr']
upper_list=[i.upper()for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [5]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lower_list=[i.lower() for i in l2]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [12]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
sum_index=sum([(l2.index(i)) for i in l2 ])
sum_index

6

In [ ]:
- making empty list will not work in list compreshension

- intializations will not works in List compreshenshion

- assignment operations also not works

-

**Pattern**

**for loop-if condition**

In [ ]:
#syntax
<output>] <for loop> <if condition>

In [ ]:
# Q2)l1=['Hyd','Mumbai','Chennai','blr']
#  ans=['Mumbai','Chennai']  
#  we want lements which are len of element >4
l1=['Hyd','Mumbai','Chennai','blr']
l2=[]
for i in l1:
    if len(i)>4:
        l2.append(i)
    
l2

In [14]:
# Q2)l1=['Hyd','Mumbai','Chennai','blr']
#  ans=['Mumbai','Chennai']  
#  we want lements which are len of element >4
l1=['Hyd','Mumbai','Chennai','blr']
l2=[i for i in l1 if len(i)>4]
l2

['Mumbai', 'Chennai']

In [15]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'
l1=['Hyd','Mum#bai','Chen#nai','blr']
l2=[i for i in l1 if '#' in i]
l2

['Mum#bai', 'Chen#nai']

In [23]:
 #Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
l1=['Hyd','Mumbai','chennai','blr']
l2=[i for i in l1 if i[0].supper() ]
l2

AttributeError: 'str' object has no attribute 'supper'

In [16]:
 #Q5)l1=['Hyd','Mumbai','chennai','blr']
l1=['hyd','mumbai','chennai','blr']
l2=[i.title() for i in l1]
l2

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [21]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
l1=['Hyd','Mum#bai','Chen#nai','blr']
ans_with=[i for i in l1 if '#' in i]
ans_without=[i for i in l1 if '#' not in l1]
print(ans_with)
print(ans_without)

['Mum#bai', 'Chen#nai']
['Hyd', 'Mum#bai', 'Chen#nai', 'blr']

In [ ]:
str1='virat.kohli@rcb.com'
s1=str1.index('.')
first_name=[i[]]

In [8]:
#**even-odd**
even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f'even {i}')
    else:
        odd_list.append(f'odd {i}')

In [9]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f'even {i}')
    else:
        odd_list.append(f'odd {i}')

In [ ]:
<if_op> <if_con> <else> <else_op> <for_loop>

In [10]:
op_list=[f"even:{i}" if i%2==0  else f"odd:{i}" for i in range(1,20)]

In [11]:
op_list

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']