In [ ]:
**Lambda functions**

- Lambda functions represents funtion concept

- But we can write in a single line

- like list comprehension, lambda functions are similar

- It will decrese the time complexity

- always remember if we use many for loops or many condition using multiple line, the time complexity will increese

In [ ]:
**it will use a keyword lambda**
    
- lambda<arguments>: <expression>

In [ ]:
strings
list 
tuple set
dictionary
lambda
file handling
oops:kwargs

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

In [ ]:
will we learn debuggung as will? logs ML azure

$Pattern-1$

**Function with only one argument**

- Function name

- argument name

- return output

In [6]:
#syntax : <function name >= lambda<argument name>: <return output>
summ=lambda n:n+10 #fun in one line
summ(10) # call the function
#function name= summ
#argument name=n
#return output=n+10

20

In [3]:
summ

In [7]:
summ=lambda n,p:n*p
summ(10,20)

200

In [8]:
cube=lambda n: n**3
cube(25)

15625

$pattern-2$

- two arguments

In [10]:
# syntax : <function name>= lambda <arg1>,<arg2>: <return out>
summ=lambda a,b:a+b
summ(50,50)

100

In [15]:
avg=lambda a,b,c:((a+b+c)/3)
round(avg(30,50,10))

30

In [19]:
avg=lambda a,b,c=500:((a+b+c)/3)
round(avg(200,200))

300

$Pattern-4$

**if-else**

In [21]:
max=lambda a,b: a if a>b else b
max(10,20)

20

In [22]:
max=lambda a,b: a if a>b else b
max(30,20)

30

$Pattern-5$

**list comprehension**

In [29]:
l=['hyd','chennai','mumbai']
# lambda <variable>: <output>,<iterator>
# variable:
# output:i.capitalize()
lambda i: i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

**mapping**

- the function and iterator are available now

- we need to map both

In [31]:
l=['hyd','chennai','mumbai']
map(lambda i: i.capitalize(),l)

In [ ]:
# apply the  tuple to see the values

In [32]:
tuple(map(lambda i: i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
# - step 1; Write your normal expression
# ex: lambda variable: output, iterator ====.. 
# map the both

In [ ]:
- case1- function call with one argument

    - lambda arguments : Expression

    - lambda variables : return output

- case-2 : Function call wtih two arguments

    - lambda arg1,arg2 : Exression

    - lambda var1,var2 : return output

- case-3 : Function call with Default arguments

    - lambda arg1,arg2=500 : Exression

    - lambda var1,var2=500 : return output

- case-4 : Function call with two arguments and if-else statement

    - lambad arg1,arg2 : Expression

    - lambda var1,var2 : if _output if_con else els_op forloop

- case-5 : Lambada operations using List

    - lambda arg: Expression, iterator

    - map(lambda var: operation,list)

In [5]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i: i.upper(),l))

('HYD', 'CHENNAI', 'MUMBAI')

In [6]:
l=['hyd','che#nnai','mum#bai','blr']
# for i in l:
#    if '#' in i:
#        print(i)
# mistake 1: tuple(map(lambda i: if'#' in i,l)) do not wire 'if'
tuple(map(lambda i:'#' in i,l))

(False, True, True, False)

**filter**

- whenever if conditions are there use filter

In [7]:
tuple(filter(lambda i:'#' in i,l))

('che#nnai', 'mum#bai')

In [13]:
number=[1,3,2,7,6]
tuple(filter(lambda i:i%2==0,number))

(2, 6)

In [ ]:
l1=[1,2,3,4,5]
# I want to sum of the elements in a list
#method 1: sum
sum(l1)

#method 2
summ=0
for i in l1:
    summ=summ+i
print(summ)

In [16]:
l1=[1,2,3,4,5]
tuple(map(lambda summ,i:summ+i,l1))

TypeError: <lambda>() missing 1 required positional argument: 'i'

**reduce**

- All inbuilt functions can achieve by Reduce

- Reduce is available from functiontool package

-  level -1 : reduce(lambda summ,i:summ+i,l1)

-  level -2 : filter(lambda summ,i:summ+i,l1,intial_value)

-  for example we want intialize summ=0 then we choose level-1

-  for example we want start with other than zero then we choose level-2

In [18]:

l1=[1,2,3,4,5]
tuple(reduce(lambda summ,i:summ+i,l1))

NameError: name 'reduce' is not defined

In [22]:
# Method 1
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [23]:
#Method 2
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [24]:
# Method 3
import functools as ft
import functools
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1)

15

In [26]:
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1,5)

20

In [27]:
l1=[1,2,3,4,5]
reduce(lambda mul,i:mul*i,l1)

120

In [ ]:
l1=[1,2,3,4,5]
reduce(lambda mul,i:mul*i,l1)

In [31]:
l1=[1,2,3,4,5]
tuple(filter(lambda x,y:x>y,l1))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [33]:
l1=[1,2,3,4,5]
reduce(lambda x, y: a if x > y else y, l1)

5

In [34]:
functools

In [ ]:
max